<form [formGroup]="editForm" class="example-form">
  <h1 class="h2">Update Employee Information</h1>
  <div>
    <mat-form-field width="100%" class="component" appearance="outline">
      <mat-label>Employee ID</mat-label>
      <input matInput formControlName="employeeID" />
      <mat-error>Enter a Valid First Name</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field width="100%" class="component" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstname" />
      <mat-error>Enter a Valid First Name</mat-error>
    </mat-form-field>
  </div>
  <div style="margin-top: 10px">
    <mat-form-field class="component" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastname" />
      <mat-error>Enter a valid input</mat-error>
    </mat-form-field>
  </div>
  <div style="margin-top: 10px">
    <mat-form-field class="component" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullname" />
      <mat-error>Enter a valid input</mat-error>
    </mat-form-field>
  </div>
  <div style="margin-top: 10px">
    <mat-form-field class="component" appearance="outline">
      <mat-label>gender</mat-label>
      <input matInput formControlName="gender" />
      <mat-error>Enter a valid input</mat-error>
    </mat-form-field>
  </div>
  <div style="margin-top: 10px">
    <mat-form-field class="component" appearance="outline">
      <mat-label>role</mat-label>
      <input matInput formControlName="role"/>
      <mat-error>Enter a valid input</mat-error>
    </mat-form-field>
  </div>
  <div style="margin-top: 10px">
    <mat-form-field class="component" appearance="outline">
      <mat-label>Designation</mat-label>
      <input matInput formControlName="designation" />
      <mat-error>Enter a valid input</mat-error>
    </mat-form-field>
  </div>
  <div style="margin-top: 10px">
    <mat-form-field class="component" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error>Enter a valid input</mat-error>
    </mat-form-field>
  </div>

    <div style="text-align: center; margin-top: 15px">
      <button  type="submit" class="btn color px-5 lsp mt-5 shadow-lg h2" (click)="modify()">Update</button>
    </div>
  </form>
