
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 100px;
    left: 0;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color:green;
    display: block;
    padding-left:50px;
}

.content {
    margin-left: 115px;
    padding: 16px;
}
mat-icon{
    padding-left:60px;
cursor: pointer;
}